body {
  background-color: #242124
}

.register-form > input[type="text"] ,.register-form > input[type="password"]{
  border-radius: 10px;
  width: 40%;
  height: 20%;  
  font-size: 100%;
  margin: 1%;
  padding: 2%;
  box-shadow:0 0 15px 4px rgba(1, 5, 6, 0.476);
  font-family: 'Sofia Sans', sans-serif;
  border: 0

}

.register-form > input[type="text"]:focus,.register-form > input[type="password"]:focus{
  background-color: yellow;
  border: 0 0 10px 10px;
}


.register-form {
  padding: 4em 4em;
  background-color: blue;
  margin: auto;
  width: 50%;
  /* margin-top: 2%; */
}

.register-form > input[type="submit"]
{
  border-radius: 10px;
  width: 25%;
  height: 15%;
  font-size: 100%;
  margin-left: 37%;
  margin-bottom: 2%;
  margin-top: 2.5%;
  padding: 2%;
  box-shadow: 0 0 15px 4px rgba(1, 5, 6, 0.476);
  font-family: 'Sofia Sans', sans-serif;
  border: 0
}

.register-form > input[type="submit"]:hover{
  border: 2px solid;
}