/* body{
    background-color: rgb(181, 89, 105);
} */

.details {
    background-color: black;
    color: white;
    /* margin: 15% 40% 50% 40%; */
    /* width: 300px; */
    padding: 3%;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

a:hover{
    border-bottom: 2px solid white
}

.wrapped{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 30%;
    padding: 1%;
}